[
 {lager, [
          {handlers,
           [
            {lager_console_backend, info},
            {lager_file_backend,
             [{file, "lager_error.log"},
              {level, error},
              {size, 10485760},
              {date, "$D0"},
              {count, 5}]
            },
            {lager_file_backend,
             [{file, "lager_console.log"},
              {level, info},
              {size, 10485760},
              {date, "$D0"},
              {count, 5}]}
           ] }
         ]},


 {ffmpegd, [{port_range, [50000, 50009]}]}
].
